{{>/layout/header}}
<div class="main-container">
    <div>
        <div class="container mt-3" style="align-self: center;">
            <img src="/images/m_main_banner.png" class="rounded" alt="Cinque Terre" width="50%">
        </div>

        <div class="container mt-3">
            <div class="box" style="margin-top: 50px; display: flex; margin-right: 500px;">
                <h2>직무</h2>
                <div class="box">/ 체크박스로 해서 직무분야 5가지정도 넣어줘야함</div>
            </div>
            <hr class="line">

            <div class="box" style="display: flex; margin-right: 600px;">
                <div class="box"><button>지역</button></div>
                <div class="box"><button>경력</button></div>
                <div class="box"><button>학력</button></div>
            </div>
        </div>

        <hr class="line">

        <br>

        <h6>총 2,111건</h6>
        <hr class="line">


        <select id="open" class="form-control">
            <option value="on">공고게시중</option>
            <option value="off">공고게시완료</option>

        </select>
        <div class="grid-box" id="notice-box">


        </div>

    </div>

</div>

<script>
    render();

    async function render() {
        let responseBody = await download();
        responseBody.forEach((notice) => {
            $("#notice-box").append(noticeBox(notice));
        });
    }

    function noticeBox(notice) {
        return `<div class="card" style="width:250px">
                <img class="card-img-top" src="/${notice.userImg}" alt="Card image" width="300px">
                <div class="card-body">
                    <h5 class="card-title">${notice.bizName}</h4>
                        <p class="card-text">${notice.workField}</p>
                        <p class="card-text">${notice.address}</p>
                </div>
            </div>`;
    }
    async function download() {
        let response = await fetch("api/searchNotice");
        let responseBody = await response.json();

        return responseBody;
    }

</script>


{{>/layout/footer}}