{{>/layout/header}}
<div class="main-container">
    <div>
        <div class="container mt-3" style="align-self: center;">
            <img src="/images/m_main_banner.png" class="rounded" alt="Cinque Terre" width="100%">
        </div>

        <div class="container mt-3" style="align-self: center;">
            <div style="margin-top: 25px; display: flex; margin-right: 500px;align-self: center; ">
                <h5 style="margin: 8px;;color: var(--font_01);">직무</h5>
                <div>
                    <select id="workField" class="form-control">
                        <option value="">전체</option>
                        <option value="백엔드">백엔드</option>
                        <option value="프론트">프론트</option>
                        <option value="앱개발">앱개발</option>
                    </select>
                </div>
            </div>
            <hr class="line">

            <div class="" style="display: flex; margin-right: 600px;">

                <h5 style="margin: 8px;color: var(--font_01);">지역</h5>
                <div class="">
                    <select id="address" class="form-control">
                        <option value="">전체</option>
                        <option value="서울">서울</option>
                        <option value="부산">부산</option>
                        <option value="경기">경기</option>
                        <option value="대전">대전</option>

                    </select>
                </div>

                <h5 style="margin: 8px; margin-left: 25px; color: var(--font_01);">경력</h5>
                <div class="">
                    <select id="career" class="form-control">
                        <option value="">무관</option>
                        <option value="신입">신입</option>
                        <option value="1~2년차">1~2년차</option>
                        <option value="3~5년차">3~5년차</option>
                        <option value="6년차이상">6년차이상</option>

                    </select>
                </div>

                <h5 style="margin: 8px; margin-left: 25px; color: var(--font_01);">학력</h5>
                <div class="">
                    <select id="education" class="form-control">
                        <option value="">무관</option>
                        <option value="고졸">고졸</option>
                        <option value="초대졸">초대졸</option>
                        <option value="대졸">대졸</option>
                        <option value="대학원졸이상">대학원졸이상</option>
                    </select>
                </div>

            </div>
        </div>

        <hr class="line">

        <br>

        <h6>총 2,111건</h6>
        <hr class="line">
        <div class="grid-box" id="notice-box">

        </div>
    </div>
</div>



<script>
    render('');

    let value = '';

    $("#workField").change(() => {
        value = '';
        if (workField) {
            let v = $('#workField').val();
            let value1 = '&workField=' + v;
            value = value + value1;
        }
        if (address) {
            let v2 = $('#address').val();
            let value2 = '&address=' + v2;
            value = value + value2;
        }

        if (career) {
            let v3 = $('#career').val();
            let value3 = '&career=' + v3;
            value = value + value3;
        }

        if (education) {
            let v4 = $('#education').val();
            let value4 = '&education=' + v4;
            value = value + value4;
        }
        render(value);
    });

    $("#address").change(() => {
        value = '';
        if (workField) {
            let v = $('#workField').val();
            let value1 = '&workField=' + v;
            value = value + value1;
        }
        if (address) {
            let v2 = $('#address').val();
            let value2 = '&address=' + v2;
            value = value + value2;
        }

        if (career) {
            let v3 = $('#career').val();
            let value3 = '&career=' + v3;
            value = value + value3;
        }

        if (education) {
            let v4 = $('#education').val();
            let value4 = '&education=' + v4;
            value = value + value4;
        }
        render(value);

    }); $("#career").change(() => {
        value = '';
        if (workField) {
            let v = $('#workField').val();
            let value1 = '&workField=' + v;
            value = value + value1;
        }
        if (address) {
            let v2 = $('#address').val();
            let value2 = '&address=' + v2;
            value = value + value2;
        }

        if (career) {
            let v3 = $('#career').val();
            let value3 = '&career=' + v3;
            value = value + value3;
        }

        if (education) {
            let v4 = $('#education').val();
            let value4 = '&education=' + v4;
            value = value + value4;
        }
        render(value);

    }); $("#education").change(() => {
        value = '';
        if (workField) {
            let v = $('#workField').val();
            let value1 = '&workField=' + v;
            value = value + value1;
        }
        if (address) {
            let v2 = $('#address').val();
            let value2 = '&address=' + v2;
            value = value + value2;
        }

        if (career) {
            let v3 = $('#career').val();
            let value3 = '&career=' + v3;
            value = value + value3;
        }

        if (education) {
            let v4 = $('#education').val();
            let value4 = '&education=' + v4;
            value = value + value4;
        }
        render(value);
    });

    async function render(value) {
        $("#notice-box").html("");
        let responseBody = await download(value);
        responseBody.forEach((notice) => {
            $("#notice-box").append(noticeBox(notice));
        });
    }

    function noticeBox(notice) {
        return `<div class="card" style="width:250px">
                <img class="card-img-top" src="${notice.userImg}" alt="Card image" style="height:120px; width:130">
                <div class="card-body">
                    <h5 class="card-title">${notice.bizName}</h4>
                        <p class="card-text">${notice.workField}</p>
                        <p class="card-text">${notice.address} ${notice.address2}</p>
                        <p class="card-text">${notice.career}</p>
                        <p class="card-text">${notice.education}</p>
                        <a class="button" href="/apply/${notice.id}">상세보기</a>
                </div>
            </div>`;
    }

    async function download(value) {
        let response = await fetch(`/api/noticeIndex?` + value);
        let responseBody = await response.json();

        return responseBody;
    }


</script>


{{>/layout/footer}}